.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #020c1b;
}

.login-form {
  background: rgb(30, 30, 54);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #030303;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 35px; /* leave space for eye */
}

.toggle-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.login-form button {
  margin-top: 20px;
  width: 100%;
  background: #007bff;
  color: rgb(199, 188, 188);
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-form button:hover {
  background: #0056b3;
}

.login-form button:disabled {
  background: #7226a5;
  cursor: not-allowed;
}
